* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

main {
    background-image: url(boilerplate.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

footer {
    height: 225px;
    background-color: #b6bdc9d2;
}

header {
    padding: 10%;
    color: rgb(124, 11, 11);
    text-align: center;
    text-shadow: 2px 2px black;
    font-family: 'Merriweather', serif;
}

h1 {
    padding: 10px;
    background-color: #b6bdc9d2;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.name {
    color: rgb(124, 11, 11);
}

section {
    min-height: 50px;
    padding: 6% 0;
    color: black;
    max-width: 66%;
    margin-left: auto;
    margin-right: auto;
}

#bio, #portfolio, #contact {
    margin-top: 200px;
}

.icon {
    height: 150px;
    margin-left: 20px;
}

.nav-bar-links {
    font-family: 'Oswald', sans-serif;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    float: right;
    font-size: large;
    padding: 10px;
    margin-top: 30px;
    background-color: #b6bdc9d2;
}

.bio-nav, .portfolio-nav, .contact-nav {
    color: black;
    text-decoration: none;
}

.bio-nav:hover, .portfolio-nav:hover, .contact-nav:hover {
    text-decoration: underline;
    color: rgb(124, 11, 11);
}

.icon:hover {
    transform: scale(1.1);
}

.quiz-app-link, .recipe-app-link {
    color: rgb(124, 11, 11);
    font-family: 'Merriweather', serif;
    font-size: larger;
    text-decoration: none;
}

.quiz-app-link:hover, .recipe-app-link:hover {
    text-decoration: underline;
}

p {
    font-family: 'Oswald', sans-serif;
    border: 2px solid black;
    background-color: #b6bdc9d2;
    padding: 20px;
    line-height: 2;
    margin-top: 20px;
    box-shadow: 2px 2px black;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screenshot-quiz, .screenshot-recipe-app {
    max-width: 300px;
}

.quiz-app .screenshot, .recipe-app .screenshot {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.logo-list {
    display: block;
}

.contact-links {
    list-style: none;
    background-color: #b6bdc9d2;
    font-family: 'Oswald', sans-serif;
    padding: 0px 10px;
    text-align: center;
}

.contact-link {
    color: black;
    margin-left: 20px;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
    color: rgb(124, 11, 11);
}

.contact-img {
    height: 50px;
}

@media screen and (min-width: 750px) {
    body {
        font-size: x-large;
    }

    .screenshot-quiz, .screenshot-recipe-app {
        max-width: 500px;
    }

    .footer-bar-links, .nav-bar-links {
        font-size: xx-large;
        margin-right: 25px;
    }

    .icon {
        height: 200px;
    }
}

@media screen and (min-width: 1500px) {
    header {
        margin-top: 50px;
    }
}